<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Dummy Selenium Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.example.tests.LoginTest"/>
            <class name="com.example.tests.InvalidLoginTest"/>
        </classes>
    </test>
</suite>
